:root {
  --accent-color: #2196f3;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #fff;
  --bg-color: #fff;
  --dark-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: "Roboto", sans-serif;

  letter-spacing: 0.03em;

  color: var(--text-color);
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
}

/* ================= HEADER ================= */

.header {
  background-color: var(--bg-color);
}

/* Logo */

.brand-logo {
  color: #000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-accent-color {
  color: var(--accent-color);
}

/* Navigation Menu */

.header .container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu .brand-logo {
  margin-right: 93px;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.menu-link:visited {
  color: var(--text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

/* Contacts links */

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.header-contacts-link:link,
.header-contacts-link:visited {
  color: var(--secondary-text-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* ================= FOOTER ================= */

.footer {
  background-color: var(--dark-bg-color);
  color: var(--white-color);
}

/* Logo */
.footer .brand-logo {
  color: inherit;
}

/* Address */

.address-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
}

.location-link {
  color: var(--white-color);
}

/* ================= INDEX PAGE ================= */

/* --- HERO SECTION --- */

.hero {
  background-color: var(--dark-bg-color);

  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 696px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;
  min-width: 216px;

  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* --- "НАШІ ПЕРЕВАГИ" SECTION --- */

.features {
  background-color: var(--bg-color);
}

.features-title {
  display: none;
}

.features-item-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.features-item-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.7;
}

/* --- "ЧИМ МИ ЗАЙМАЄМОСЯ" SECTION --- */

.about {
  background-color: var(--bg-color);
}

.about-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

/* --- "НАША КОМАНДА" SECTION --- */

.team {
  background-color: var(--secondary-bg-color);
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.team-card {
  background-color: var(--bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-card-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.2;
}

/* ================= PORTFOLIO PAGE ================= */

/* --- PORTFOLIO SECTION --- */

.portfolio {
  background-color: var(--bg-color);
}

.portfolio-title {
  display: none;
}

.portfolio-filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  border-radius: 4px;
  border: 0;
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-item {
  background-color: var(--bg-color);
  border: 1px solid #eeeeee;
}

.portfolio-link-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-link-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;
}
